[Desktop Entry]
Version=1.0
Name=System Monitor
Comment=View current processes and monitor system state
Type=Application
Icon=utilities-system-monitor
Terminal=false
Exec=system-monitor
Categories=Utility
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
